@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Noto+Sans:wght@400;500;700;900&display=swap');
@import "tailwindcss";
@tailwind utilities;

@layer base {
  .font-space-grotesk {
    font-family: 'Space Grotesk', 'Noto Sans', sans-serif;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Space Grotesk', 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}